In [1]:
a=["audi","bmw","hyundai"]
b=["black","white"]
for i in a:
    for j in b:
        print(i,j)

audi black
audi white
bmw black
bmw white
hyundai black
hyundai white

In [2]:
a=["audi","bmw","hyundai"]
b=["black","white"]
for i in a:
    for j in b:
        print(i,j,end=" ")

audi black audi white bmw black bmw white hyundai black hyundai white

In [3]:
a=["audi","bmw","hyundai"]
b=["black","white"]
for i in a:
    for j in b:
        print(i,j,end=" ")
    print()

audi black audi white
bmw black bmw white
hyundai black hyundai white

In [4]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j,end=" ")
    print()

1 1 1 2 1 3 1 4
2 1 2 2 2 3 2 4
3 1 3 2 3 3 3 4
4 1 4 2 4 3 4 4

In [5]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [6]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [10]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [11]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [28]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [29]:
for i in range(1,5):
    for j in range(1,5):
        print("ABCDE",end=" ")
    print()

ABCDE ABCDE ABCDE ABCDE
ABCDE ABCDE ABCDE ABCDE
ABCDE ABCDE ABCDE ABCDE
ABCDE ABCDE ABCDE ABCDE

In [9]:
k=1
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+1
    print()

 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [12]:
k=2
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+1
    print()

 2  3  4  5  6
 7  8  9 10 11
12 13 14 15 16
17 18 19 20 21
22 23 24 25 26

In [13]:
k=1
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+2
    print()

 1  3  5  7  9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [23]:
k=50
for i in range(6,1,-1):
    for j in range(6,1,-1):
        print("{:2d}".format(k),end=" ")
        k=k-1
    print()

50 49 48 47 46
45 44 43 42 41
40 39 38 37 36
35 34 33 32 31
30 29 28 27 26

In [24]:
k=50
for i in range(6,1,-1):
    for j in range(6,1,-1):
        print("{:2d}".format(k),end=" ")
        k=k-2
    print()

50 48 46 44 42
40 38 36 34 32
30 28 26 24 22
20 18 16 14 12
10  8  6  4  2

In [25]:
k=49
for i in range(6,1,-1):
    for j in range(6,1,-1):
        print("{:2d}".format(k),end=" ")
        k=k-2
    print()

49 47 45 43 41
39 37 35 33 31
29 27 25 23 21
19 17 15 13 11
 9  7  5  3  1

In [38]:
for i in range(65,70):
    for j in range(65,70):
        print(chr(i),end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [39]:
for i in range(65,70):
    for j in range(65,70):
        print(chr(j),end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [41]:
for i in range(97,102):
    for j in range(97,102):
        print(chr(j),end=" ")
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [42]:
for i in range(97,102):
    for j in range(97,102):
        print(chr(i),end=" ")
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [43]:
for i in range(102,97,-1):
    for j in range(102,97,-1):
        print(chr(i),end=" ")
    print()

f f f f f
e e e e e
d d d d d
c c c c c
b b b b b

In [46]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [47]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [50]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [51]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [55]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j*2,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8

In [56]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i*2,end=" ")
    print()

2
4 4
6 6 6
8 8 8 8

In [59]:
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(k*1,end=" ")
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10

In [60]:
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(k*2,end=" ")
        k=k+1
    print()

2
4 6
8 10 12
14 16 18 20

In [62]:
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(k*1,end=" ")
        k=k+2
    print()

1
3 5
7 9 11
13 15 17 19

In [63]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [64]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [65]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [66]:
for i in range(5,1,-1):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2

In [67]:
for i in range(5,1,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2

In [73]:
for i in range(1,6):
    for j in range(6,i,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [74]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(j,end=" ")
    print()

6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

In [75]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [80]:
for i in range(1,6):
    for j in range(6,0,-1):
        if i>=j:
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1

In [81]:
for i in range(1,6):
    for j in range(6,0,-1):
        if i>=j:
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print()

          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

In [82]:
for i in range(1,6):
    for j in range(6,0,-1):
        if i>=j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [84]:
for i in range(65,70):
    for j in range(70,64,-1):
        if i>=j:
            print(chr(j),end=" ")
        else:
            print(" ",end=" ")
    print()

          A
        B A
      C B A
    D C B A
  E D C B A

In [85]:
for i in range(65,70):
    for j in range(70,64,-1):
        if i>=j:
            print(chr(i),end=" ")
        else:
            print(" ",end=" ")
    print()

          A
        B B
      C C C
    D D D D
  E E E E E

In [87]:
for i in range(1,6):
    for j in range(5,0,-1):
        if i>=j:
            print("*",end=" ")
        else:
            print("",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [12]:
n=5
d=1
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or j==n or ((j==d or j==n-d+1)and i<=n//2+1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    d=d+1
    print()

*       *
* *   * *
*   *   *
*       *
*       *

In [23]:
for i in range(1,5):
    for j in range(1,5):
        print(str((i+j)%2)+" ",end=" ")
    print()

0  1  0  1
1  0  1  0
0  1  0  1
1  0  1  0

In [17]:
for i in range(1,5):
    for j in range(0,5):
        print(str((i+j)%2)+" ",end=" ")
    print()

1  0  1  0  1
0  1  0  1  0
1  0  1  0  1
0  1  0  1  0

In [25]:
for i in range(1,5):
    for j in range(1,5):
        print(str(i%2)+" ",end=" ")
    print()

1  1  1  1
0  0  0  0
1  1  1  1
0  0  0  0

In [31]:
for i in range(1,5):
    for j in range(1,5):
        print("{:2d}".format(i*j),end=" ")
    print()

 1  2  3  4
 2  4  6  8
 3  6  9 12
 4  8 12 16